/*
 * Author: pabvald
 * Date: 10/12/2018
 */

/***************** LAYOUT ******************/
html {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
}


/***************** TEXT ******************/

#main-title {
    /*text-align: center;*/
    padding-left:480px;
    font-size:17pt;
    font-family: 'Calibri';
    margin-bottom: 0;
    /*color:rgb(46, 101, 165);*/
}

li {
    font-size: 11pt;
    font-family:"Arial";    
}

label {
    font-size:8pt;
    font-family:"Arial";
}

/*************** BUTTONS ****************/

.button {
    background-color: rgb(71, 163, 74); /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    padding-top:6px;
    padding-bottom: 6px;
    font-weight: 500;
    border-radius: 5px;
    width:110px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#buttoncontainer1 {
    display: inline-block;
}

#buttoncontainer2 {
   /*text-align: center;*/
   padding-left:560px;
}



/************************  Country selection *******************/

ul {
    padding-left:15px;
}

.selectioncontainer {
    display:block;
    border: solid 2px gray;
    border-radius: 4%;
    width:190px;
}

#selectioncontainer1 {    
    margin-right: 20px;
}

#selectioncontainer2 {    
    margin-left:30px;
}

.checkbox-country:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.44), 0 17px 50px 0 rgba(0,0,0,0.19);
}